.hero-bg {
    background-image: url(/assets/images/hero-man.jpg);
    background-size: cover;
    background-position: center 20%;
    width: 100%;
    background-repeat: no-repeat;
    flex-grow: 1;
}


.triangle {
    width: 30px;
    height: 30px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: #f29c13;
    position: relative;
    left: 0;
}

.teeth {
    position: relative;
}

.teeth::before {
    content: "";
    position: absolute;
    bottom: -50px;
    width: 50px;
    height: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: #8096be;
}

.teeth::after {
    content: "";
    position: absolute;
    bottom: -50px;
    width: 50px;
    height: 50px;
    clip-path: polygon(1% 100%, 100% 0, 0 0);
    background-color: #8096be;
}


.clip-detail {
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.ch {
    height: 24px;
    width: 24px;
}

.ch-chart {
    background-image: url(/assets/images/chart.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.tab-content {
    display: none;
}

.tab-link-active {
    position: relative;
    background-color: #f29c13 !important;
    box-shadow: 1px 1px 12px 0px #f29c13;
    transition: all 0.3s ease-in-out;
}

.tab-link-active::before {
    transition: all 0.3s ease-in-out;
    background-color: #f29c13;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    clip-path: polygon(50% 29%, 0 0, 100% 0);
}

#class-section::before {
    background: #f6f6f6;
    position: absolute;
    right: 0;
    inset: -25% -25% -25% 45%;
    rotate: -15deg;
    content: "";
    z-index: -1;
}